<div
  pRipple
  (click)="onChatPress()"
  class="flex flex-row px-4 py-2 bg-zinc-900 hover:bg-zinc-700 items-center select-none cursor-pointer"
>
  <img
    [src]="chat.image"
    alt="User Profile"
    class="w-16 rounded-full mr-2.5 border-2 border-zinc-300"
    draggable="false"
  />

  <div class="flex-1 p-ripple">
    <div class="flex flex-row justify-between">
      <span class="font-bold">{{ chat.title }}</span>
      <span class="text-zinc-500 text-[0.75rem]">{{
        lastMessageDateFormatted
      }}</span>
    </div>

    <div class="flex flex-row items-center justify-between mt-0">
      <span class="text-zinc-500 flex-1 mr-2.5" [title]="chat.lastMessage">
        {{
          chat.lastMessage.length > 39
            ? (chat.lastMessage | slice : 0 : 42) + "..."
            : chat.lastMessage
        }}
      </span>

      @if (chat.unreadMessagesCounter > 0) {
      <p-tag
        rounded
        class="text-4xl"
        [value]="chat.unreadMessagesCounter.toString()"
        severity="secondary"
      />
      }
    </div>
  </div>
</div>
